<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pluu.conventionplugins.features.sample">

    <application>
        <activity
            android:name=".ui.FeaturesSample1Activity"
            android:exported="false" />
    </application>

</manifest>